@{
    Layout = null;
}

@model krita.ViewModels.Usuario.BuscarViewModel;

<table class="uk-table tabelaConsulta">
    <thead>
        <tr>
            <th class="campo">Cód. Usuário</th>
            <th class="campo">Apelido</th>
            <th class="campo">Email</th>
            <th class="campo">Data de bloqueio</th>
            <th class="campo"></th>
            <th class="campo"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var busca in Model.RespostaBusca)
        {
            <tr>
                <td class="resultado">@busca.Id</td>
                <td class="resultado">@busca.Apelido</td>
                <td class="resultado">@busca.Email</td>
                <td class="resultado">@busca.DataBloqueio</td>
                <td class="resultado"><a uk-toggle="target: #modal-editar" onclick="usuario.preencheModalEditar('@busca.Id', '@busca.Apelido', '@busca.Email', '@busca.DataBloqueio')"><span uk-icon="icon:  file-edit"></span></a></td>
                <td class="resultado">
                    @if (@busca.DataBloqueio == null)
                    {
                        <a href="#" uk-toggle="target: #modal-bloquear" onclick="usuario.preencheModalBloquear('@busca.Id', '@busca.DataBloqueio')"><span class="icon-editar-bloquear" uk-icon="icon: unlock"></span></a><br>
                    }
                    else
                    {
                        <a href="#" uk-toggle="target: #modal-bloquear" onclick="usuario.preencheModalBloquear('@busca.Id', '@busca.DataBloqueio')"><span class="icon-editar-bloquear" uk-icon="icon: lock"></span></a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="modal-bloquear" class="div-principal uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="modal-bloquear">
            <h2 class="uk-modal-title titulo"><span uk-icon="icon: warning; ratio: 1.5"></span> <span id="titulo-bloquear"></span></h2>
            <form id="form-bloquear" class="uk-form-stacked" onsubmit="usuario.bloquearUsuario(this)" role="form">
                <div class="texto-bloquear">
                    <p id="texto-bloquear"></p>
                </div>
                <input id="idBloquearUsuario" class="uk-input" name="Id" type="text" value="0" style="display: none;" placeholder="Id" />
                <input class="uk-input" name="Bloqueado" type="text" style="display: none;" placeholder="Id" />
                <div class="butoes-bloquear">
                    <button class="uk-modal-close fechar-bloquear" type="button">Não</button>
                    <input class="button confirmar-bloquear" name="enviar" type="submit" value="Sim" />
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal-editar" class="div-principal uk-modal-container uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical  modal-editar">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <form id="form-editar" class="uk-form-stacked" onsubmit="usuario.editarUsuario(this)" role="form">
            <h2 class="uk-modal-title titulo"> Usúario </h2>
            <div class="inputs-primeira-linha">
                <div class="textfield-editar">
                    <input id="idEditarUsuario" class="uk-input" name="Id" type="text" style="display: none;" placeholder="Id">
                    <input id="inputApelido" class="input-editar" name="Apelido" type="text" maxlength="36" required>
                    <label class="placeholder-editar">Apelido</label>
                </div>
                <div class="email">
                    <label class="uk-form-label uk-text-large">E-mail</label>
                    <input id="inputEmail" class="uk-input" type="email" placeholder="Email" name="email" disabled>
                </div>
            </div>
            <div class="data-bloqueio">
                <label class="uk-form-label uk-text-large">Data de Bloqueio</label>
                <input id="inputDataBloqueio" class="uk-input" type="text" placeholder="Data de Bloqueio" name="DataBloqueio"  disabled >
            </div>
            <br>
            <div class="permissoes">
                <input class="uk-input" type="text" placeholder="Permissoes" disabled value="Permissões do Usuario">
            </div>
            <br><br><br><br><br><br><br><br><br>
            <div class="botoes-editar">
                <input class="button limpar" name="enviar" type="reset" value="Limpar">
                <input class="button salvar" name="enviar" type="submit" value="Salvar">
            </div>
        </form>
    </div>
</div>

<script src="~/js/Usuario.js"></script>
<script>
    usuario.init({
        urls: {
            bloquear: '@Url.Action("Bloquear")',
            editar: '@Url.Action("Editar")'
        }
    });
</script>
