@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - krita</title>
    <link rel="stylesheet" type="text/css" href="~/lib/iziToast/css/iziToast.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/uikit/css/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/esqueciSenha.css">
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
</head>

<body>
    <form id="form-busca" class="form-busca" onsubmit="login.login()">
        <main class="main-login">
            <section class="esquerda-login">
                <div class="card-login">
                    <section>
                        <img class="img" src="../img/smn.png" alt="Krita">
                    </section>
                    <h1>Login</h1>
                    <div class="textfield">
                        <input class="input-login" id="email" type="email" required spellcheck="false" name="Email">
                        <label class="placeholder">
                            E-mail
                        </label>
                    </div>
                    <div class="textfield">
                        <input class="input-login" id="senha" type="password" required spellcheck="false" name="Senha">
                        <label class="placeholder">
                            Senha
                        </label>
                    </div>
                    <div id="erro" class="erro">
                        @ViewBag.Erro
                    </div>
                    <div class="btn-entrar">
                        <button class="botao-login" type="submit" value="Entrar">Entrar</button>
                    </div>
                    <div id="result">
                    </div>
                    <div class="link">
                        <a href="#modal-enviar-email" uk-toggle>Esqueci Senha</a>
                        <br>
                        <a href="#modal-trocar-senha" uk-toggle>Trocar Senha</a>
                    </div>
                </div>
            </section>
            <section class="main-direita">
                <img class="img-direita" src="../img/krita.png" alt="Krita">
            </section>
        </main>
    </form>
    <div id="modal-enviar-email" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-enviar-email">
            <form id="form-receberEmail" role="form">
                <button class="uk-modal-close-default button-fechar" type="button" uk-close></button>
                <br>
                <p>Preencha o campo abaixo com o e-mail cadastrado no sistema, e será enviado uma
                    mensagem com link para
                    ser feita a alteração da senha.</p>
                <div class="form-campos">
                    <div class="textfield-enviar-email">
                        <input class="input-enviar-email" type="email" required spellcheck="false" name="email">
                        <label class="placeholder-enviar-email">
                            E-mail
                        </label>
                    </div>
                    <input class="botao-enviar" name="enviar" type="submit" value="Enviar"
                        onclick="login.verificarEmail()">
                </div>
            </form>
        </div>
    </div>
    <div id="modal-trocar-senha" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-trocar-senha">
            <form id="form-trocarSenha" class="form-campos">
                <div class="div-button">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                </div>
                <h2>Trocar Senha</h2>
                <div class="textfield-trocar-senha">
                    <input class="input-trocar-senha" type="email" required spellcheck="false" id="trocar-senha-email"
                        name="email">
                    <label class="placeholder-esqueci-senha">
                        E-mail
                    </label>
                </div>
                <div class="textfield-trocar-senha">
                    <input class="input-trocar-senha" type="password" required spellcheck="false" name="senhaAtual">
                    <label class="placeholder-esqueci-senha">
                        Senha Atual
                    </label>
                </div>
                <div class="textfield-trocar-senha">
                    <input class="input-trocar-senha" type="password" required spellcheck="false" name="novaSenha">
                    <label class="placeholder-esqueci-senha">
                        Senha Nova
                    </label>
                </div>
                <div class="textfield-trocar-senha">
                    <input class="input-trocar-senha" type="password" required spellcheck="false"
                        name="repitaSenhaNova">
                    <label class="placeholder-esqueci-senha">
                        Repita Nova Senha
                    </label>
                </div>
                <input class="botao-enviar" type="submit" name="salvar" value="Salvar"
                    onclick="login.verificacaoSenha()">
            </form>
        </div>
    </div>

    <script src="~/lib/iziToast/js/iziToast.min.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/uikit/js/uikit.min.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        login.init({
            urls: {
                login: '@Url.Action("Login", "Login")',
                trocarSenha: '@Url.Action("SenhaTrocada", "Login")',
                enviar: '@Url.Action("Enviar", "Login")',
                home: '@Url.Action("Index", "Home")'
            }
        })
    </script>
</body>

</html>